/**
 * Stylesheet zur Klasse PageOverview: Startseite der App
 */
 /*Header*/
header p {
     color: white;
     font-weight: bold;
     padding: 15px;
     margin-left: 20px;
 }

  /* Einzelne Kacheln */

.container {
    display: inline-block;
    background: rgba(36, 16, 90);
    margin: 0.5em;
}

.container img {
    width: 18.5em;
    height: 10em;
    max-width: 100%;
    object-fit: cover;
    display: block;

    transition: .5s ease;
  backface-visibility: hidden;
}

.container .middle {
  transition: .5s ease;
  opacity: 0;
  text-align:center;

}
.container a,
.container a:visited {
    /*Hiermit greift man auf die Farbe unter den Bildern zu!*/
    color: white;
    text-decoration: none;
}
.container:hover a,
.container:hover img{
    opacity: 0.3;
}
.container:hover .middle{
    opacity: 1;
}
