/**
 * Stylesheet zur Klasse PageOverview: Startseite der App
 */

  /* Einzelne Kacheln */

.tile {
    display: inline-block;
    background: rgba(36, 16, 90);
    margin: 0.5em;
}

.tile img {
    width: 18.5em;
    height: 10em;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.tile a,
.tile a:visited {
    color: black;
    text-decoration: none;
}
