
.box {
    width: 50%;
    padding: 0px;
    background: rgb(36, 16, 90);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0em;
    border-radius:40px;
}
.box h1 {
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
.box input[type= "email"], .box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid 	#EF850B;
    padding: 19px 32px;
    width: 20em;
    outline: none;
    color: white;
    border-radius: 24px; /* macht rund */
    transition: 0.25s;
}
.box input[type= "email"]:focus, .box input[type = "password"]:focus {
    width: 30em;
    border-color: #00B19D;
}
.box input[type= "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    font-size:1em;
    text-align: center;
    border: 3px solid #CD2A5F;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px; /* macht rund */
    transition: 0.25s;
    cursor: pointer;
}
/*Email Eingabe im Modal*/
.box2 input[type= "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid 	#EF850B;
    padding: 19px 32px;
    width: 20em;
    outline: none;
    color: black;
    font-size: 1em;
    border-radius: 24px; /* macht rund */
    transition: 0.25s;
}
.box input[type= "submit"]:hover {
    background: #CD2A5F;
}
/* Placeholder Größe */
/*Chrome/Opera/Safari*/
.box input[type= "email"]::-webkit-input-placeholder, .box input[type = "password"]::-webkit-input-placeholder {
    font-size:2em;
}
/*Mozilla Firefox 19+*/
.box input[type= "email"]::-moz-placeholder, .box input[type = "password"]::-moz-placeholder {
    font-size:2em;
}
/*Internet Explorer*/
.box input[type= "email"]:-ms-input-placeholder, .box input[type = "password"]:-ms-input-placeholder {
    font-size:2em;
}
/*Mozilla Firefox 18-*/
.box input[type= "email"]:-moz-placeholder, .box input[type = "password"]:-moz-placeholder {
    font-size:2em;
}
main a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 300%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {
  color: black;
  background-color: #ffffff ;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius:40px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Box anpassen für kleinere Geräte, dass es die Head Zeile nicht überlappt*/
/*Ebenso Anpassung der Dateneingabe, damit es den Bildschirm nicht überschreitet --> keine Verlängerung sondern nur Farbänderung der Border*/
/*Auch Anpassung der Schriftgröße*/
@media (max-width: 80em) {

    .box input[type= "email"], .box input[type = "password"] {
        border: 4px solid 	#EF850B;
        width: 30em;
        padding: 25px 40px;

    }
    .box input[type= "email"]:focus, .box input[type = "password"]:focus {
        width:35em;
    }
    main{
        font-size: 2em;
    }
    .box{
        width: 100%;
    }
    .box input[type= "submit"] {
        background: #CD2A5F;
    }
    .box input[type= "submit"]:hover {
    }
    .box input[type= "submit"]:focus {
        background: #691732;
        border-color: #691732;
    }
}
