/**
* Stylesheet zur Klasse PageMap: Karte mit Abholstationen
*/

.map
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.map iframe
{
  width: 50em;
  height: 25em;
}

@media (max-width: 1080px)
{
  .map iframe
  {
    width: 30em;
    height: 30em;
    margin-bottom: 2em;
  }
}
