/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart und Größe, Farben sowie das
 * Layout im Allgemeinen betreffend.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
 * ALLGEMEINES
 */
html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 14pt;
    line-height: 1.6;

    /* https://pixabay.com/photos/ship-boat-lake-sailing-boat-italy-952292/ */
    background-color: black;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    --content-padding: 1rem;
}

@media (min-width: 40em) {
    html {
        font-size: 15pt;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 16pt;
    }
}

@media (min-width: 80em) {
    html {
        font-size: 18pt;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}


/*
 * KOPFBEREICH
 */

/* Allgemeine Darstellung der Menüzeile */


/* Link-Farben */


/* Kopfinhalt der Seite */

/* Anpassung an große Bildschirme */

/*
 * HAUPTBEREICH
 */
