/**
* Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
*
* Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
* betreffen. Also solche Dinge wie Schriftart und Größe, Farben sowie das
* Layout im Allgemeinen betreffend.
*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*
* ALLGEMEINES
*/

html, body {
  padding: 0;
  margin: 0;

  min-height: 100%;
  height: 100%;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 14pt;
  line-height: 1.6;

  background-color: rgb(70, 24, 172);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  --content-padding: 1rem;
}

@media (min-width: 40em) {
  html {
    font-size: 15pt;
  }
}

@media (min-width: 60em) {
  html {
    font-size: 16pt;
  }
}

@media (min-width: 80em) {
  html {
    font-size: 18pt;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

/*
* KOPFBEREICH
*/

/* Allgemeine Darstellung der Menüzeile */
header {
  --text-color: white;
  --icon-color: white;
}
header nav {
  padding: var(--content-padding);
  color: var(--text-color);
}

header nav i {
  color: var(--icon-color);
}

header nav .page-name {
  font-weight: bold;
}

header nav .logo {
  display: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  padding: 0.25em 0 0.25em 0;
}

/* Link-Farben */
header nav a,
header nav a:visited {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.25s;
}

header nav a:hover {
  color: var(--icon-color);
}

header nav a i,
header nav a:visited i {
  color: var(--icon-color);
}

header nav a:hover i {
  color: var(--text-color);
}

/* Linkes Menü */
header nav .menu-left {
  display: flex;
}

header nav .menu-left .go-back,
header nav .menu-left .dont-go-back {
  flex: 1;
}

header nav .menu-left li {
  display: inline-block;
}
/****************/
/* Rechtes Menü */
/****************/
header nav .loggedin .test{
    transform: translate(-30%, 10%);
}
header nav .loggedin {
    display:none;
}
header nav .loggedin .information{
    display:none;
    z-index:1;
    position:fixed;
    color:black;
    background-color:white;
    border-radius:40px;
    width:10%;
    height:auto ;
    text-align:center;
    transform: translate(-30%, 10%);
}
header nav .loggedin .information ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav .loggedin .information li {
  padding: 0.25em 0 0.25em 0;
}
header nav .loggedin .information a{
    color: black;
}



/* Navi-Leiste */

.category {
  overflow: hidden;
  background-color: rgb(36, 16, 90);
}

.category a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 10px;
}

.category a:hover {
  background-color:rgb(33, 19, 70);
  color: rgb(250, 197, 24);
}



/* Qualitätskategorien beschreiben */

.favorites {
  color: white;
  font-weight: bold;
  padding: 15px;
  margin-left: 20px;
}


/* Kopfinhalt der Seite */

header .content h1,
header .content h2,
header .content h3,
header .content h4,
header .content h5,
header .content h6 {
  margin: 0;
}

header .content h2 {
  font-size: 110%;
}

header .content h3,
header .content h4,
header .content h5,
header .content h6 {
  font-size: 110%;
}

/* Bearbeitung der Search-Bar */
.topnav {
  width: 50%;
}

.topnav input[type=text] {
  float: left;
  width: 90%;
  padding: 6px;
  margin-top: 10px;
  margin-right: 16px;
  font-size: 15px;
  outline-width: 0; /* Blaues highlighten bei Input entfernen */
  border: 2px solid rgb(36, 16, 90);
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgb(36, 16, 90);
}

/* Anpassung an große Bildschirme */
@media (max-width: 40em) {
  .small-screen-hidden {
    display: none;
  }

  .category {
      display: none;
    }
}

@media (min-width: 40em) {
  .small-screen-only {
    display: none !important;
  }

.logo {
  display: inline-block !important;
  height: 2em;
  padding-right: var(--content-padding);
}

header nav,
header nav .menu-right {
  display: flex;
}

header nav .menu-right li {
  padding-left: var(--content-padding);
}

header nav .menu-left {
  flex: 1;
}

/* HAUPTBEREICH */

/* Hintergrund des Hauptbereichs */
main {
  padding: var(--content-padding);
  background: rgba(70, 24, 172, 0.9);
  flex: 1;
}
}

.highlighter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(36, 16, 90);
  color: white;
  font-size: 0.8em;
  text-align: center;
  border-top-left-radius: 60px 30px;
  border-top-right-radius: 60px 30px;
}

.footer-background {
  width: 100%;
  height: 16em;
  background-color: white;
  border-top-left-radius: 60px 30px;
  border-top-right-radius: 60px 30px;
}

.part1 {
  max-width: 49%;
  border-top-left-radius: 60px 30px;
  border-top-right-radius: 60px 30px;
}

.part2 {
  max-width: 49%;
  border-top-left-radius: 60px 30px;
  border-top-right-radius: 60px 30px;
}

@media (max-width: 1080px) { /* Wenn man drunter fällt */
  .part1 {
    max-width: 98%;
  }
  .part2 {
    max-width: 98%;
  }
  .highlighter {
    font-size: 0.7em;
  }
}

.footer-table {
  border-collapse: collapse;
  width: 100%;
}

a:hover {
  color: rgb(250, 211, 24);
}

td {
  font-size: 0.8em;
  text-align: left;
  padding-left: 3%;
}

th {
  text-align: left;
  padding-left: 3%;
}

.footer-end h5 {
  display: inline;
  font-size: 0.7em;
  padding-left: 3%;
}

.footer-end span {
  float: right;
}

.imprint {
  font-size: 0.7em;
  padding-right: 3%;
}

.terms {
  font-size: 0.7em;
  padding-right: 3%;
}

.data {
  font-size: 0.7em;
  padding-right: 3%;
}

@media (max-width: 1080px) { /* Wenn man drunter fällt */

  .footer-background {
    width: 100%;
    height: 22em;
    background-color: white;
    border-top-left-radius: 60px 30px;
    border-top-right-radius: 60px 30px;
  }

  .footer-end h5 {
    display: inline;
    padding: 0.5em;
    margin-top: 0%;
    font-size: 0.6em;
  }

  .footer-end span {
    float: none;
  }

  .imprint {
    font-size: 0.6em;
    padding: 0.1em;
  }

  .terms {
    font-size: 0.6em;
    padding: 0.1em;
  }

  .data {
    font-size: 0.6em;
    padding: 0.1em;
    padding: 0.5em;
  }
}
