/*Gestaltung der Inhalts Box*/
.box{
    width: 55%;
    padding: 0px;
    background: white;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0em;
    border-radius:40px;
}
/*Gestaltung der oberen Navigationsleiste*/
.pagination{
    margin-top: 10px;
    text-align:center;
    display:inline-block;
}
.pagination a{
    margin:6px 1px;
    display:inline-block;
    background: rgb(70, 24, 172);
    color:white;
    text-decoration:none;
    width: 180px;
    height:60px;
    line-height:250%;
    font-weight:400;
    position:relative;
    cursor:default;
}

/*Macht Ecken des erstes und des letzten Schritt rund*/
.pagination #overview{
    padding-left:10px;
    border-radius: 30px 0 0 30px;
    background: rgb(70, 24, 172);
}
.pagination #finish{
    padding-left:15px;
    padding-right: 10px;
    border-radius: 0 30px 30px 0;
}

/*Zentriert Text*/
.pagination #adress, .pagination #paymethod {
    padding-left:25px;
}
/*Setzt eine unsichtbare Border, damit die Leiste etwas Abstand nach oben und unten hat*/
.pagination a::before, .pagination a::after{
    content:"";
    position:absolute;
    border-top:30px solid transparent;
    border-bottom: 30px solid transparent;
}

/*Setzt weißen Pfeil vor den einzelnen Steps, damit die einzelnen Teile Abstände dazwischen haben und nicht aneinanderkleben*/
#adress::before, #paymethod::before, #finish::before{
    border-left: 20px solid white;
    left:0%;
}

/*Platziert die Pfeilköpfe hinter den einzelnen Kästchen*/
#overview::after{
    border-left: 20px solid rgb(70, 24, 172);
    z-index:4;
    left:100%;
}
#adress::after, #paymethod::after{
    border-left: 20px solid rgb(70, 24, 172);
    z-index:4;
    left:100%;
}

.pagination .active{
    color:	#EF850B;
}

/*Gestaltung der Formularfelder*/

/*Übersicht*/
#content-overview{
    display:block;
}
#content-overview li{
    list-style:none;
}

/*Adresse*/
#content-adress{
    display:none;
}
/*Zahlung*/
#content-paymethod{
    display:none;
}
/*Abschließen*/
#content-finish{
    display:none;
}

/*Gestaltung des Weiter Knopfes*/
.positioner{

    text-align:right;
}
#next{

    margin-right:15px;
    margin-bottom:15px;
    display:inline-block;

}

/******************************************************************************************************/
/************************************ALLES UNTER 1080PX GRÖßE (Tablets)********************************/
/******************************************************************************************************/
@media (max-width: 1600px) {

    .box{
        width: 90%;
        margin-bottom: 1em;
    }
    .pagination #overview{
        padding-left:15px;

    }
    .pagination #finish{
        padding-left:25px;

    }
    .pagination a{
        margin:6px 1px;
        width: 90px;
        height:60px;
        font-size:14px;
        line-height:400%;
    }
}

/******************************************************************************************************/
/************************************ALLES UNTER 650PX GRÖßE (HANDYS)**********************************/
/******************************************************************************************************/

@media (max-width: 650px) {
    .box{
        width: 90%;
        margin-bottom: 1em;
    }
    .pagination #overview{
        padding-left:15px;

    }
    .pagination #finish{
        padding-left:25px;

    }
    .pagination a{
        margin:6px 1px;
        width: 90px;
        height:60px;
        font-size:14px;
        line-height:400%;
    }
}
