/*Gestaltung der Inhalts Box*/
.box{
    width: 50%;
    padding: 0px;
    background: white;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0em;
    border-radius:40px;
}
/*Gestaltung der oberen Navigationsleiste*/
.pagination{
    margin-top: 10px;
    text-align:center;
    display:inline-block;
}
.pagination a{
    margin:6px 1px;
    display:inline-block;
    background: rgb(70, 24, 172);
    color:white;
    text-decoration:none;
    width: 60px;
    height:60px;
    line-height:250%;
    font-weight:400;
    position:relative;
    cursor:default;
}


.pagination .first{
    padding-left:10px;
    border-radius: 30px 0 0 30px;
    background-color: rgb(36, 16, 90);
}
.pagination .step{
    padding-left:25px;
}
.pagination .last{
    padding-left:15px;
    padding-right: 10px;
    border-radius: 0 30px 30px 0;
}


.pagination a::before, .pagination a::after{
    content:"";
    position:absolute;
    border-top:30px solid transparent;
    border-bottom: 30px solid transparent;
}
.step::before, .last::before{
    border-left: 20px solid white;
    left:0%;
}



.first::after{
    border-left: 20px solid rgb(36, 16, 90);
    z-index:4;
    left:100%;
}
.step::after{
    border-left: 20px solid rgb(70, 24, 172);
    z-index:4;
    left:100%;
}


/*Gestaltung der Formularfelder*/


    /**Inhalt**/


/*Gestaltung des Weiter Knopfes*/
.positioner{
    text-align:right;
}
#next{

    margin-right:15px;
    margin-bottom:15px;
    display:inline-block;

}
