/*Gestaltung der Inhalts Box*/
.box{
    width: 55%;
    padding: 0px;
    background: white;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0em;
    border-radius:40px;
}
/*Gestaltung der oberen Navigationsleiste*/
.pagination{
    margin-top: 10px;
    text-align:center;
    display:inline-block;
}
.pagination a{
    margin:6px 1px;
    display:inline-block;
    background: rgb(70, 24, 172);
    color:white;
    text-decoration:none;
    width: 180px;
    height:60px;
    line-height:250%;
    font-weight:400;
    position:relative;
    cursor:default;
}

/*Macht Ecken des ersten und des letzten Schritt rund*/
.pagination #overview{
    padding-left:10px;
    border-radius: 30px 0 0 30px;
    background: rgb(70, 24, 172);
}
.pagination #finish{
    padding-left:15px;
    padding-right: 10px;
    border-radius: 0 30px 30px 0;
}

/*Zentriert Text*/
.pagination #adress, .pagination #paymethod {
    padding-left:25px;
}
/*Setzt eine unsichtbare Border, damit die Leiste etwas Abstand nach oben und unten hat*/
.pagination a::before, .pagination a::after{
    content:"";
    position:absolute;
    border-top:30px solid transparent;
    border-bottom: 30px solid transparent;
}

/*Setzt weißen Pfeil vor den einzelnen Steps, damit die einzelnen Teile Abstände dazwischen haben und nicht aneinanderkleben*/
#adress::before, #paymethod::before, #finish::before{
    border-left: 20px solid white;
    left:0%;
}

/*Platziert die Pfeilköpfe hinter den einzelnen Kästchen*/
#overview::after{
    border-left: 20px solid rgb(70, 24, 172);
    z-index:4;
    left:100%;
}
#adress::after, #paymethod::after{
    border-left: 20px solid rgb(70, 24, 172);
    z-index:4;
    left:100%;
}

/*SetztFarbe des aktiven Tabs auf Orange*/
.pagination .active{
    color:	#EF850B;
}

/*Gestaltung der Formularfelder*/

/*Übersicht*/
#content-overview{
    display:block;
    padding: 8em 0em 8em 0em;
}
#content-overview li{
    list-style:none;
}

/*Adresse*/
#content-adress{
    display:none;
}
#content-adress input[type= "text"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid 	#EF850B;
    padding: 10px 15px;
    width: 15em;
    outline: none;
    color: black;
    border-radius: 24px; /* macht rund */
    transition: 0.25s;
    font-size: 18pt;
}

/*Dropdown Leiste mit all den Ländern*/
#content-adress select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 3px solid 	#EF850B;
    padding: 10px 15px;
    width: 15em;
    outline: none;
    color: black;
    border-radius: 24px; /* macht rund */
    transition: 0.25s;
    font-size: 18pt;
    cursor:pointer;
    /*Erstellt Grenze, linke Hälfte des Dropdownpfeils, rechte Hälfte des Dropdownpfeils, färbt und positioniert*/
    background-image:       linear-gradient(45deg, transparent 50%, #EF850B 50%),
                            linear-gradient(135deg, #EF850B 50%, transparent 50%),
                            linear-gradient(to right, #EF850B, #EF850B);

    background-position:    calc(98% - 20px) calc(0.75em + 2px),
                            calc(100% - 15px) calc(0.75em + 2px),
                            calc(102% - 2.5em) 0em;

    background-size:        12px 12px,
                            12px 12px,
                            2px 2.5em;

    background-repeat: no-repeat;
}

/*Zahlung*/
#content-paymethod{
    display:none;
    text-align: center;
}
#content-paymethod .content-wrap {
    padding: 5px 5px 5px 5px;
    border: 4px solid #EF850B;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
    border-radius: 40px;
    cursor: pointer;
    width: 20em;
}
#content-paymethod .content-wrap:hover{
    background-color: #EF850B;
}

/* The Modal (background) */
 #paypalmodal, #creditcardmodal, #transactionmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: -6%;
  z-index: 5; /* Sit on top */
  width: 100%; /* Full width */
  height: 300%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {
  color: black;
  background-color: #ffffff ;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%;
  height: 15%;
  border-radius:40px;
}
/* X zum Schließen des Modals */
.x, .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.x:hover,
.x:focus,
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Abschließen*/
#content-finish{
    display:none;
    padding: 8em 0em 8em 0em;
}

/*Gestaltung des Weiter Knopfes*/
.positioner{
    text-align:right;
}
#next{
    margin-right:15px;
    margin-bottom:15px;
    display:inline-block;
}

/******************************************************************************************************/
/************************************ALLES UNTER 1080PX GRÖßE (Tablets)********************************/
/******************************************************************************************************/
@media (max-width: 1600px) {

    .box{
        width: 90%;
        margin-bottom: 1em;
    }
    .pagination #overview{
        padding-left:15px;

    }
    .pagination #finish{
        padding-left:25px;

    }
    .pagination a{
        margin:6px 1px;
        width: 90px;
        height:60px;
        font-size:14px;
        line-height:400%;
    }
}

/******************************************************************************************************/
/************************************ALLES UNTER 650PX GRÖßE (HANDYS)**********************************/
/******************************************************************************************************/

@media (max-width: 650px) {
    .box{
        width: 90%;
        margin-bottom: 1em;
    }
    .pagination #overview{
        padding-left:15px;

    }
    .pagination #finish{
        padding-left:25px;

    }
    .pagination a{
        margin:6px 1px;
        width: 90px;
        height:60px;
        font-size:14px;
        line-height:400%;
    }
}
